html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
}

.holder_top {
    position: sticky;
    top: 0px;
    z-index: 20;
    background-color: #a5f535;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.holder {
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 3vh;
    position: relative;
}

.top_banner {
    padding-top: 1em;
    margin-left: 7vw;
    margin-right: 7vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top_banner_resholder {
    display: block;
}

.top_banner_res {
    display: block;
    font-size: 1.2em;
    color: #191919;
}

.top_banner_resname {
    display: block;
    font-size: 1.5em;
    font-weight: 600;
    font-style: italic;
}

.top_banner_title {
    font-size: 1.7em;
    font-weight: 900;
    vertical-align: middle;
    height: 100%;
}

.top_banner_title img {
    height: 2em;
}

.top_stats {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 7vw;
    margin-right: 7vw;
    border-top: 1px solid #00000025;
}

.stat {
    margin-right: 1em;
}

.obj_holder {
    border: 1px solid #FF00FF01;
}

.obj_certificate {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    border-radius: 7px;
    background-color: #e8e8e8;
    border: 1px solid #dadada;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    transition: background-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.pointerhand:hover {
    cursor: pointer;
}

.obj_certificate-NGOT:hover {
    background-color: #e6e032;
}

.obj_certificate-YGOT {
    background-color: #a0f298;
}

.obj_certificate-YGOT:hover {
    background-color: #41e632;
}

.obj_certificate_banner {
    width: 9em;
    height: 9em;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.obj_certificate_check {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 5em;
    font-weight: 900;
    text-align: center;
    color: #24EF12;
    text-shadow: 0em 0.1em 0.1em #191919;
    background-color: #41e63290;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.obj_certificate_name {
    font-size: 1em;
    position: absolute;
    bottom: 0;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    z-index: 5;
    background-color: #FFFFFF99;
    width: calc(100% - 0.2em);
    text-align: center;
    border-bottom-left-radius: 7px;
}

.obj_certificate_info {
    position: relative;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.2em;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;
}

.logoffform {
    display: inline-block;
    top: 0;
}

.logoffbutton {
    background: transparent;
    border: none;
    border-radius: 2em;
    color: #000000;
    margin-top: 0;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 0.3em;
}

.logoffbutton:hover {
    background-color: #e6e032;
}

.qglink {
    text-decoration: none;
    color: initial;
}

.question_img {
    max-height: 8em;
}

.material-icons {
    vertical-align: text-bottom;
}

.question_divided {
    width: 100%;
    border-top: 1px solid #191919;
    padding-top: 0.2em;
}

.input_submit {
    background-color: #41e632;
    border: 1px solid #24EF12;
    font-size: 1.1em;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    transition: background-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.input_submit:hover {
    background-color: #e6e032;
    border-color: #e6e032;
}

.breadcrumbs {
    color: #1c2345;
}

.breadcrumbs:hover {
    color: #ff4f00;
}

.breadcrumbs_holder {
    margin-bottom: 1em;
}