html,
body {
    margin: 0;
    padding: 0;
    background-color: #a5f535;
    font-family: 'Roboto', sans-serif;
}

.holder-v {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.holder-h {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.feedback {
    display: none;
    position: absolute;
    text-align: center;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    padding-left: 3vmin;
    padding-right: 3vmin;
    width: 80vmin;
    height: 80vmin;
    margin-left: 10vmin;
    margin-right: 10vmin;
    border-radius: 3vmin;
    z-index: 5;
    background-color: #f6ca00;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.feedback-image {}

.em2 {
    font-size: 30vmin !important;
    font-weight: 800;
}

.feedback-text {
    font-size: 7vmin;
}

.feedback-right {
    color: #246c08;
}

.feedback-wrong {
    color: #ab0808;
}

.feedback-menu {
    font-size: 4vmin;
}

.holder {
    text-align: center;
}

.idletext {
    font-size: 15vmin;
    font-weight: 900;
}

.countdown {
    font-size: 20vmin;
    font-weight: 900;
}

.restext {
    font-size: 6vmin;
}

.unlocktip {
    font-size: 4vmin;
    font-style: italic;
    color: #313131;
}

.input_holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80vw;
    margin-bottom: 5vmin;
}

.input_object {
    padding: 2vmin;
    max-width: 80vw;
    flex: 1 1 auto;
    font-size: 6vmin;
}

.miniclock {
    font-size: 12vmin;
    font-weight: 900;
}

.unlocked {
    font-size: 8vmin;
    margin-top: 10vmin;
    margin-bottom: 4vmin;
    font-style: italic;
    color: #313131;
}

.text-input {
    max-width: 80vw;
    background: transparent;
    border: 1px solid #a5f535;
    font-size: 8vmin;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 2px;
    margin-bottom: 2vmin;
    transition: background-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.text-input:hover {
    background-color: #e6e032;
    border-color: #e6e032;
}

.radio-input {
    max-width: 80vw;
}

.button {
    font-size: 8vmin;
    background-color: #41e632;
    border: 1px solid #24EF12;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    transition: background-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.button:hover {
    background-color: #e6e032;
    border-color: #e6e032;
}

.input_submit {
    background-color: #41e632;
    border: 1px solid #24EF12;
    font-size: 1.1em;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    transition: background-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.input_submit:hover {
    background-color: #e6e032;
    border-color: #e6e032;
}